@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
}